<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




<h2>ADMIN TEAM ADD</h2>

  <div class="form-group">
  <label for="inputTeam" class="col-lg-2 control-label">TEAM NAME <br></label>
  <div class="col-lg-10">
  <input type="text" name='team[name]' class="form-control" placeholder="<%= @team.name || "enter a team name" %>">
  </div>


  <div class="form-group"><br>  <br>

    <label>SPORT</label>

    <select class="form-control" name='team[league]' id="select">
    <option>soccer</option>
    <option>basketball</option>
    <option>softball</option>
</select>
  </div>



  <div class="form-group">
  <label for="inputTeam" class="col-lg-2 control-label">PLAYERS <br></label>
  <div class="col-lg-10">
  <input type="text" name='team[members]' class="form-control" placeholder="<%= @team.members || "enter team's players" %>">
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
