
<h2>  <%= @user.username %> </h2>

  <h3>
  <%= @user.firstname %>  <%= @user.lastname %>
</h3>
<h3>
  <%= @user.email %>
</h3>

<h4>
   teams: <%= @user.teams %>
</h4>

<%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-default" %>
<%= link_to 'Back', users_path, :class => "btn btn-default" %>
<%= link_to "Delete", user_path(@user), :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
